<main id="main" class="max-vh-100 vh-100 pt-5">
    <div
            class="signup container d-flex align-items-center justify-content-center h-100"
    >
        <div class="container">
            <div class="row justify-content-center">
                <form method="post" action="/signup/with-password" class="col-md-6 needs-validation"
                      id="login-form">
                    <h3 class="text-center fw-bold mb-4">SIGNUP</h3>
                    <!-- Fullname input -->
                    <div class="input-group has-validation mb-4">
                        <div class="form-floating">
                            <input
                                    type="text"
                                    id="fullname"
                                    class="form-control"
                                    name="fullname"
                                    placeholder="Fullname"
                                    required
                            />
                            <label class="form-label" for="fullname">Fullname</label>
                        </div>
                        <div class="invalid-feedback">
                            Username is required
                        </div>
                    </div>
                    <!-- Email input -->
                    <div class="form-floating mb-4">
                        <input
                                type="email"
                                id="email"
                                class="form-control"
                                name="email"
                                placeholder="Email"
                                required
                        />
                        <label class="form-label" for="email">Email</label>
                    </div>
                    <!-- Password input -->
                    <div class="input-group mb-4">
                        <div class="form-floating">
                            <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    class="form-control pe-5"
                                    placeholder="Password"
                                    minlength="6"
                                    maxlength="64"
                                    required
                            />
                            <label class="form-label" for="password">Password</label>

                        </div>
                        <button
                                class="btn border-0 d-flex align-items-center justify-content-center p-0 me-3 position-absolute top-50 end-0 translate-middle-y"
                                style="z-index: 10;"
                                id="show-password"
                                type="button"
                        >
                            <svg aria-label="Show password" width="24" height="24" role="img" focusable="false">
                                <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"></path>
                            </svg>
                        </button>
                    </div>

                    <!-- Submit button -->
                    <button
                            type="submit"
                            class="btn btn-primary btn-block container-fluid"
                    >Sign up
                    </button>

                    <!-- Divider -->
                    <div class="divider d-flex align-items-center my-3">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                    </div>
                    <!-- Signup optional -->
                    <div class="text-center">
                        <a class="text-decoration-none text-light" href="/signup/with-facebook">
                            <button
                                    type="button"
                                    class="btn btn-primary btn-floating mx-1"
                                    style="background-color: #3b5998"
                            >
                                <i
                                        class="fab fa-facebook-f">
                                </i>
                            </button>
                        </a>
                        <a class="text-decoration-none" href="/signup/with-google">
                            <button
                                    type="button"
                                    class="btn btn-primary btn-floating mx-1"
                                    style="background-color: #fff"
                            >
                                <!--Logo google-->
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="18"
                                        height="18"
                                        viewBox="0 0 48 48"
                                        class="m-auto d-block"
                                >
                                    <g>
                                        <path
                                                fill="#EA4335"
                                                d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"
                                        ></path>
                                        <path
                                                fill="#4285F4"
                                                d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"
                                        ></path>
                                        <path
                                                fill="#FBBC05"
                                                d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"
                                        ></path>
                                        <path
                                                fill="#34A853"
                                                d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"
                                        ></path>
                                        <path fill="none" d="M0 0h48v48H0z"></path>
                                    </g>
                                </svg>
                            </button>
                        </a>
                    </div>

                    <!-- Register buttons -->
                    <div class="text-center my-3">
                        <p>Already a member? <a href="/login">Sign in</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{#if errMessage}}
        <div class="position-absolute bottom-0 d-flex align-items-center alert alert-warning fade show alert-floating" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="16" height="16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <strong class="me-2">Signup failed!</strong> <span class="text-center text-wrap me-2">{{errMessage}}</span>
            <button type="button" class="btn btn-close p-0" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/if}}
</main>

{{#section 'js'}}
    <script scr="/public/js/auth.js"></script>
    <script src="/public/js/alert.js"></script>

    <script>
        $(window).ready(() => {
            onLoadPage();
            alertAnimation();
        })
    </script>
{{/section}}
